header{
   text-align: center;
    
}

h2{
text-align: center;
}

body{
    color:palevioletred;
}


.maine{
    display:flex;
    flex-wrap: wrap; 
    
    margin:50px 50px 50px 50px;
    

}

.box{
    border:15px solid rgb(237, 237, 122);
    box-shadow: 5px 5px 5px 5px ;
    border-radius:10px;
    padding:50px 50px 50px 50px;
     margin:50px 50px 50px 50px;
     justify-content: center;
     background:linear-gradient(palevioletred,violet);
     color:rgb(145, 72, 21);
     font-weight: bolder;
     
         

}

ul{
    list-style-type: none;
    
    }


    button{
        border:2px solid rgb(237, 237, 122);
        border-radius:5px;
        width:70px;
        background-color:rgb(145, 72, 21);
        color:rgb(240, 167, 207);
        margin-top:10px;

    
    }
 
    .box li{
        padding-top:5px;
    }

    footer{
        color:indianred;
    }